  <div>
    <h1>Login</h1>
    <form action="auth" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit">
    </form>

        <button onclick="xyz()">DA BUTTON</button>

    <script>
        function xyz() {
            fetch('/exists', {method: 'POST'}).then((x)=> {
                console.log(x,'fetched');
            })
        }
    </script>
  </div>