  <div>
    <h1>Login</h1>
    <form action="login" method="POST">
      <input type="text" name="username" placeholder="Username" >
      <input type="password" name="password" placeholder="Password" >
      <input type="submit">
    </form>

    bad_auth:{{bad_auth}}  badUser{{bad_user}} badPass {{bad_pass}}
  </div>